html, 
body {
	font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#search {
  display: inline-block;
  padding: 10px 0 10px 15px;
  /*font-size: 11pt;*/
  background: #bcbcbc;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
}

label {
  display: inline-block;
  position: absolute;
  padding: 7px 8px;
  color: #bcbcbc;
  background: #2d3035;
}

#map {
  height: 100%;
}

#map-div {
  height: 600px;
  /*max-width: 1000px;*/
  padding-bottom: 5%;
}